In [28]:
import pandas as pd
import numpy as np

#### Pandas utility functions

In [5]:
pd.isnull(np.nan)

True

In [6]:
pd.isnull(None)

True

In [7]:
pd.isna(np.nan)

True

In [8]:
pd.isna(None)

True

In [9]:
pd.notnull(np.nan)

False

In [10]:
pd.notnull(None)

False

* With Series and Dataframes

In [11]:
pd.isnull(pd.Series([1, np.nan, 7]))

0    False
1     True
2    False
dtype: bool

In [12]:
pd.isnull(pd.DataFrame({
    'Coluna A': [1, np.nan, 7],
    'Coluna B': [np.nan, 3, 5],
    'Coluna C': [np.nan, 5, np.nan]
}))

   Coluna A  Coluna B  Coluna C
0     False      True      True
1      True     False     False
2     False     False      True

In [13]:
s = pd.Series([1, 2, 3, np.nan, np.nan, 4])

In [14]:
pd.notnull(s).sum()

4

Como notnull, isnull, notna, isna retorna valores 0 ou 1, pode-se usar sum() para contar quantos valores h√° de cada

In [15]:
pd.isnull(s).sum()

2

In [16]:
s.isnull()

0    False
1    False
2    False
3     True
4     True
5    False
dtype: bool

#### Dropping null values

In [17]:
d = pd.DataFrame([[1, 3, np.nan], [np.nan, 0, 2], [2, 1, 3]])

In [18]:
s.dropna()

0    1.0
1    2.0
2    3.0
5    4.0
dtype: float64

In [19]:
d.notnull().sum() ## Soma pelas colunas

0    2
1    3
2    2
dtype: int64

#### filling nulls with an arbitrary value

In [20]:
d.fillna(0)

     0  1    2
0  1.0  3  0.0
1  0.0  0  2.0
2  2.0  1  3.0

In [21]:
d.fillna(d.mean())

     0  1    2
0  1.0  3  2.5
1  1.5  0  2.0
2  2.0  1  3.0

#### Filling null with contiguous values

In [22]:
d.fillna(method= 'ffill') ## forfill substituir√° nan pelo 
## valor anterior

     0  1    2
0  1.0  3  NaN
1  1.0  0  2.0
2  2.0  1  3.0

In [23]:
d.fillna(method= 'bfill') ## backfill substituir√° na
## pelo prox valor

     0  1    2
0  1.0  3  2.0
1  2.0  0  2.0
2  2.0  1  3.0

In [24]:
d.fillna(method= 'ffill', axis= 1) ##forfill na horizontal

     0    1    2
0  1.0  3.0  3.0
1  NaN  0.0  2.0
2  2.0  1.0  3.0

#### any and all

In [25]:
s.any() ##Any True values

True

In [26]:
s.all() ##all values are true

True