#### Not Null Values

if all the values are the, but there are invalid values

In [3]:
import numpy as np
import pandas as pd

In [4]:
df = pd.DataFrame({
    'Sex': ['M', 'F', 'D', '?'],
    'Age': [29, 30, 34, 290]
})
print(df)

  Sex  Age
0   M   29
1   F   30
2   D   34
3   ?  290

#### Finding Unique Values

In [5]:
df['Sex'].unique()

array(['M', 'F', 'D', '?'], dtype=object)

In [86]:
df['Sex'].value_counts()

M    1
F    1
D    1
?    1
Name: Sex, dtype: int64

In [87]:
df = df['Sex'].replace({'D':'F', 'N': 'M'})
print(df)

0    M
1    F
2    F
3    ?
Name: Sex, dtype: object

With a dataframe:

In [6]:
df = df.replace({
    'Sex': {'D': 'F', 'N': 'M'},
    'Age': {290: 29}
})
print(df)

  Sex  Age
0   M   29
1   F   30
2   F   34
3   ?   29

#### Duplicates

In [ ]:
ambassadors = pd.Series(['France','UK','UK','Italy','Germany',
                        'Germany','Germany'],
                        index= ['Eu','Tu','Voce','Nos',
                                'eles','ambos','tu'])

In [ ]:
ambassadors

Eu        France
Tu            UK
Voce          UK
Nos        Italy
eles     Germany
ambos    Germany
tu       Germany
dtype: object

* Duplicated Top-Down

In [ ]:
ambassadors.duplicated()

Eu       False
Tu       False
Voce      True
Nos      False
eles     False
ambos     True
tu        True
dtype: bool

* Duplicated Down-Top

In [ ]:
ambassadors.duplicated(keep= 'last')

Eu       False
Tu        True
Voce     False
Nos      False
eles      True
ambos     True
tu       False
dtype: bool

* Mark all duplicated as True

In [ ]:
ambassadors.duplicated(keep=False)

Eu       False
Tu        True
Voce      True
Nos      False
eles      True
ambos     True
tu        True
dtype: bool

In [ ]:
ambassadors.drop_duplicates()

Eu       France
Tu           UK
Nos       Italy
eles    Germany
dtype: object

In [ ]:
ambassadors.drop_duplicates(keep= 'last')

Eu       France
Voce         UK
Nos       Italy
tu      Germany
dtype: object

In [ ]:
ambassadors.drop_duplicates(keep=False)

Eu     France
Nos     Italy
dtype: object

#### Duplicates in DataFrames

In [ ]:
players = pd.DataFrame({
    'Name': ['KB','LJ','KB','CA','KB'],
    'Pos': ['SG','SF','SG','SF','SF']
})

In [ ]:
players

  Name Pos
0   KB  SG
1   LJ  SF
2   KB  SG
3   CA  SF
4   KB  SF

In [ ]:
players.duplicated()

0    False
1    False
2     True
3    False
4    False
dtype: bool

* Consider only 1 column

In [ ]:
players.duplicated(subset=['Name'])

0    False
1    False
2     True
3    False
4     True
dtype: bool

In [ ]:
players.duplicated(subset=['Name'], keep='last')

0     True
1    False
2     True
3    False
4    False
dtype: bool

#### Splitting Columns

In [91]:
df = pd.DataFrame({
    'Data': [
    '1987_M_US_1', '1990?_M_UK_1', '1992_F_US_2','1970?M_  IT_1','1985_F_I  T_2'
    ]
})
df1 = df

In [92]:
df['Data'].str.split('_')

0      [1987, M, US, 1]
1     [1990?, M, UK, 1]
2      [1992, F, US, 2]
3     [1970?M,   IT, 1]
4    [1985, F, I  T, 2]
Name: Data, dtype: object

In [93]:
df1 = df1['Data'].str.split('_', expand=True)

In [95]:
df1.columns = ['Year','Sex','Country','No Children']
print(df1)

     Year   Sex Country No Children
0    1987     M      US           1
1   1990?     M      UK           1
2    1992     F      US           2
3  1970?M    IT       1        None
4    1985     F    I  T           2

* Which columns contain a given value

In [96]:
df1['Year'].str.contains('\?')

0    False
1     True
2    False
3     True
4    False
Name: Year, dtype: bool

* Removing blank spaces

In [97]:
df1['Country'].str.strip()

0      US
1      UK
2      US
3       1
4    I  T
Name: Country, dtype: object

In [98]:
df1['Year'].str.replace(r'(?P<year>\d{4})\?', lambda n: n.group('year'))

C:\Users\luizt\AppData\Local\Temp\ipykernel_17176\464370349.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df1['Year'].str.replace(r'(?P<year>\d{4})\?', lambda n: n.group('year'))

0     1987
1     1990
2     1992
3    1970M
4     1985
Name: Year, dtype: object